@(id:Long)
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Large Modal</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Prescription</h4>
        </div>

        <div class="modal-body" style="margin:">

          <form class="form-horizontal" role="form">
<form  class="form-horizontal" role="form" id="CreateCareplan" >

      <div id='CarePlanGroup' >
        <div id="careplan" class="col-sm-5 col-md-12">

          <div class="form-group" >

            <div class="col-md-2">
               <label>Medicaton:</label>
            </div>
              <div class="col-md-3">
                <input class="mname form-control" value="sad" type="text" placeholder="Name" id="mname" name="medicationName[0][product][mname]" value="aspirin" >
              </div>  
              <div class="col-md-2 ">
                <input class="mcode form-control " type="text" value="c123" placeholder="Code" id="mcode" name="medicationName[0][product][mcode]" readonly>
              </div>  
                
              <div class="col-md-2">
                <input class="mcodeSystemname form-control" type="text" value="rxnorm" id="mcodeSystemname" placeholder="CodeSystemName" name="medicationName[0][product][msystemcodename]" readonly>
              </div> 
              <div class="col-md-3">
                <input class="mcodeSystem form-control" type="text" value="2.16.840.1.113883.3.26.1.1" placeholder="CodeSystem" id="mcodeSystem" name="medicationName[0][product][msystemcode]" readonly>
              </div> 
       </div>
        <div class="form-group" >

             <div class="col-md-2">
               <label>Route:</label>
              </div>
              <div class="col-md-3">
                <input class="form-control rname" type="text" value="oral" placeholder="Name" id="rname" name="medicationName[0][route][rname]">
              </div>
               <div class="col-md-2">
                <input class="form-control rcode" type="text" value="12324" placeholder="Code" id="rcode" name="medicationName[0][route][rcode]" readonly>
              </div>
               
               <div class="col-md-2">
                <input class="form-control rcodeSystemname" type="text" value="RxNorm" placeholder="Codesystemname" id="rcodeSystemname" name="medicationName[0][route][rsystemcodename]" readonly>
              </div>
              <div class="col-md-3">
           <input class="form-control rcodeSystem" type="text" value="2323.23.21" placeholder="CodeSystem" id="rcodeSystem" name="medicationName[0][route][rsystemcode]" readonly>
              </div>
      </div>
      <div class="form-group" >
              <div class="col-md-2">
               <label>Dose:</label>
              </div>
              <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Quantity" id="dquantity" name="medicationName[0][dose][quantity]">
              </div>
              <div class="col-md-2">
                <input class="form-control" type="text" placeholder="Units" id="dunits" name="medicationName[0][dose][dunits]">
              </div>
              <div class="col-md-2">
                 <label>Start Date:</label>
              </div>
              <div class="col-md-3">
               <input class="startdate form-control" type="text" placeholder="Start date" id="startdate" name="medicationName[0][time][startdate]">

              </div>
       </div>

<div class="form-group" >
              <div class="col-md-2">
               <label>Frequency:</label>
              </div>
              <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Peried" id="fperied" name="medicationName[0][frequency][period]">
              </div>
              <div class="col-md-2">
                <input class="form-control" type="text" placeholder="Units" 
                id="funits" name="medicationName[0][frequency][funits]">
              </div>
              <div class="col-md-2">
                <label>End Date:</label>
              </div>
              <div class="col-md-3">
                <input class=" enddate form-control" type="text" placeholder="End date"
                id="enddate" name="medicationName[0][time][enddate]">
              </div>
       </div>

        </div>
      </div>

        <div class="form-group col-md-12">
         <div class="col-md-9"></div>
          <div class="col-md-2"><p class="text-right">
          <button type='button' class="btn btn-primary btn-md" id='addButton'><span class="glyphicon glyphicon-plus"></span></button>
          <button type='button' class="btn btn-primary btn-md" id='removeButton'><span class="glyphicon glyphicon-minus"></span></button></p>
        </div>
        </div>
</form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
