@import com.avaje.ebean.SqlRow;
@import play.mvc.Http.Context
@(list:List[SqlRow]);
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patient List</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <script src="@routes.Assets.versioned("jquery/jquery.min.js")"></script>
     <script src="@routes.Assets.versioned("jquery/jquery.dataTables.min.js")"></script>
    <script src="@routes.Assets.versioned("jquery/dataTables.bootstrap.min.js")"></script> 
    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("css/dataTables.bootstrap.min.css")"> 
   <link rel="stylesheet" href="@routes.Assets.versioned("css/jquery.dataTables.min.css")">


    <style>
      
      body { 
         background: url("@routes.Assets.versioned("images/bg.jpg")") no-repeat center center fixed; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         opacity: .7;
        }
        select{
          color: black;
        }
        input[type="search"]{
          color: black
        }

    </style>
    <script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>

</head>

<body>

       <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">iChroniCare</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/dashboard"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
            <li><a href="/patient/list"> <span class="glyphicon glyphicon-user"></span>&nbsp;PatientList</a></li>
            <li><a href="/patient/registration"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Patient</a></li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">

                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> MyProfile</a></li>
                <li><a href="/practice/info"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;PracticeInfo</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
              </ul>
            </li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <h5 style="color:white">@ctx().session().get("name")</h5>
          </ul>
        </div>
      </div>
    </nav>

<div class="container" style="margin-top: 5%;">
<div class="table-responsive">
<table id="myTable" class="display table" width="100%" >

   <thead style="background: gray">  
          <tr>  
            <th>PatientId</th>  
            <th>Name</th>  
            <th>dob</th>  
            <th>email</th> 
            <th>contact</th> 
            <th>CarePlanId</th> 
          </tr>  
        </thead>  
        <tbody>  
          @for(lists<-list) {
            <tr>
              <td><a href="/patient/@lists.getLong("id")/detail">@lists.getString("id")</a></td>
              <td>@lists.getString("name")</td>
              <td>@lists.getString("dob")</td>
              <td>@lists.getString("email")</td>
              <td>@lists.getString("contactNumber1")</td>
              <td><a href="/patient/@lists.getLong("id")/careplan">@lists.getString("cid")</a></td>
            </tr>
          }
        </tbody> 
</table>
</div>
</div>


</body>

</html>
