
@import play.mvc.Http.Context
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
    <script src="@routes.Assets.versioned("jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap-session-timeout.js")"></script>

    <style>
      body{ 
        background: url("@routes.Assets.versioned("images/bg.jpg")") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
         opacity: .7;
      }
      .container{margin-top: 10%;}
    </style>

    <script>
      $(document).ready(function(){
        $( "#patient" ).keyup(function() {
          var dInput = $(this).val();
        
          $(".list-group-item").remove();
          if(dInput.length>0){
            $(function(){
              var arr = [];
              $.getJSON("/searchPatient?searchedText="+dInput, function(data) {
                var i = 0, dataSize = data.length < 7 ? data.length : 6, html = '';
                for(i; i < dataSize; i++){
                  $("#add").append("<a href="+"/patient/"+data[i].id+"/detail"+" class="+"list-group-item"+">"+data[i].name+"  (PatientId: "+data[i].id+")</a>");
                }
                if(data.length>6){
                  $("#add").append("<a href="+"/patient/searchlist?str="+dInput+" class="+"list-group-item"+"><p class="+"text-center"+">Click For More ("+ data.length+" items found)<span class="+"glyphicon glyphicon-search"+"></span></p>");
                }
                if(data.length==0){
                  $("#add").append("<a href="+"/patient/searchlist?str="+dInput+" class="+"list-group-item"+"><p class="+"text-center"+">No result for "+ dInput+" <span class="+"glyphicon glyphicon-search"+"></span></p>");
                }
              });
            });
          }
        });
      });
    </script>
    
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">iChroniCare</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/dashboard"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
            <li><a href="/patient/list"> <span class="glyphicon glyphicon-user"></span>&nbsp;PatientList</a></li>
            <li><a href="/patient/registration"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Patient</a></li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">

                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> MyProfile</a></li>
                <li><a href="/practice/info"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;PracticeInfo</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
              </ul>
            </li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <h5 style="color:white">@ctx().session().get("name")</h5>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
    <br><br>
    <div class="row">
      <!-- <div class="col-md-7 col-md-offset-2">
        <div class="input-group">
          <input type="text" class="form-control" id="patient" placeholder="Search Patients">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Search</button>
            </span>
            
        </div>
        <div class="list-group" id="add">
            </div>
      </div> -->



      <div class="form-group">
        <label class="col-xs-2"></label>
        <div class="col-xs-6">
          <input type="text" class="form-control" id="patient" name="searchText" placeholder="Patients Search.">
        </div>
        <div class="col-xs-3">
          <input type="submit" class="btn btn-primary" value="search" >
        </div>
      </div>

 
      <div class="form-group">
        <label class="col-xs-2"></label>
        <div class="col-xs-6 " >
          <div class="list-group" id="add">
          </div>
        </div>
      </div>  

    </div>
  </div>    
  </body>
</html>